.hofff{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross-layout {
    display: grid;
    place-items: center;
    grid-template-columns: 55px 55px 55px;
    grid-template-rows: 55px 55px 55px;
    gap: 0px;
    justify-content: center;
    align-items: center;
}

.cross-layout .cross-layout-position-top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #888888;
}

.cross-layout .cross-layout-position-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #888888;
}

.cross-layout .cross-layout-position-center {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #888888;
    text-align: center;
}

.cross-layout .cross-layout-position-right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #888888;
}

.cross-layout .cross-layout-position-bottom {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #888888;
}

.container{
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
}

.circle {
    float: left;
    margin: 0.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.red {
background-color: red;
}

.white {
background-color: white;
}

.square {
display: flex;
width: 100px;
height: 100px;
background-color: red;
}

.triangle-top{
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #051181 transparent;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: transparent;
    cursor: pointer;
}

.triangle-right{
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #051181;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: transparent;
    cursor: pointer;
}

.triangle-bottom{
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #051181 transparent transparent transparent;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: transparent;
    cursor: pointer;
}

.triangle-left{
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #051181 transparent transparent;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: transparent;
    cursor: pointer;
}

.triangle-top:hover{
    border-color: transparent transparent #fe0505 transparent;
}
.triangle-right:hover{
    border-color: transparent transparent transparent #fe0505;
}
.triangle-bottom:hover{
    border-color: #fe0505 transparent transparent transparent;
}
.triangle-left:hover{
    border-color: transparent #fe0505 transparent transparent;
}

.btn {
    border-style: none;
    cursor: pointer;
}

.cross-key-btn {
    width: 55px;
    height: 55px;
    background-color: rgba(66, 86, 123, 0.5);
}

.top-mark {
    display: block;
    font-size: 30px;
}

.left-mark {
    display: block;
    transform: rotate(-90deg);
    font-size: 30px;
}

.right-mark {
    display: block;
    transform: rotate(90deg);
    font-size: 30px;
}

.bottom-mark {
    display: block;
    transform: rotate(180deg);
    font-size: 30px;
}

.onoff {
    background-color: #ffffff;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #888888;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 1em;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
    border-radius: 50%;
}

.onoff:hover {
    box-shadow: 0px 0px 15px #888888;
}


